.DS_Store
.ipynb_checkpoints/

multiprocess.py

model_log.txt
log.txt

dataset.csv

data/
models/
vectors/
input_chunks/
preprocessed_data/
datasets/

my_dataset_train/
my_dataset_val/
my_dataset_test/
my_train_dir/
my_val_dir/
my_test_dir/

nl2ml/data.csv
nl2ml/graph.csv
nl2ml/result.csv

astminer/build/
astminer/src/main/generated/

venv/
